.ui.modal.lyrico-modal {
  text-align: center !important;
  .header {
    text-align: center !important;
    background-color: #EA8F22;
    border: none;
  }

  .content {
    font-size: 1.3em;
    background-color: #EA8F22;
    border: none;
  }

  .actions {
    text-align: center;
    background-color: #EA8F22;
    border: none;
  }
}