.song-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4em;

  .lyric {
    color: #3372FF;
  }
}

.counter {
  margin-top: 1em;
  font-size: 4em;
  color: #EA8F22;
}
