.song-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .lyric {
    color: #ef233c;
  }
}

.counter {
  margin-top: 1em;
  font-size: 4em;
}

.winning-modal {
  background-color: green;
  width: 80%;
  height: 50%;
  margin: 20% 10%;
}
