.scoring-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 30px;

  .active-border { 
    border: 2px dotted #3372FF;
    padding: 10px;
  }

  .inactive-border {
    padding: 12px;
  }
}